---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
  // description: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="descriptionです。" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <div class="container">
      <slot />
    </div>
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --baseColor: #eff2f4;
    --subColor: #d1d1d1;
    --accentColor: #213357;
    --siteKeyColor: darkslategray;
    --bg-mainColor: #eff2f4;
    --bg-paleColor: #fafafa;
    --text-mainColor: #242423;
    --text-subColor: #434341;
    --baseFont: "Roboto", "Hiragino Sans", "Meiryo", "Hiragino Kaku Gothic ProN",
      sans-serif;
    --sitetitle-fs: 42px;
    --heading1-fs: 34px;
    --heading2-fs: 28px;
    --heading3-fs: 24px;
  }
  html {
    font-family: var(--baseFont);
    background: var(--baseColor);
    color: var(--text-mainColor);
  }
  body {
    margin: 0;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  a {
    color: var(--accentColor);
  }
  .container {
    max-width: 960px;
    margin-inline: auto;
    margin-block: 50px;
  }

  .heading2 {
    font-size: var(--heading2);
  }
</style>
<!-- <style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #e4e4e4;
    /* background-size: 224px; */
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style> -->
